<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="brand">
                    The Cinnamon Index
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div>
                <div class="span3">
                    <div class="well sidebar-nav">

                    </div>
                </div>
                <div class="span9">
                    {{outlet}}
                    {{outlet artists}}
                    {{outlet artistCreate}}
                </div>
            </div>
        </div>
    </div>
</div>
